[user]
	name = archae0pteryx
	email = github@pocketcereal.com
	signingkey = 567BC1CD583A2D88ECF9D9E2F78866C8777EBA3B

[pull]
	rebase = false

[core]
	excludesfile = ~/.config/git/globalgitignore
	editor = code --wait
	ignorecase = false

[init]
	defaultBranch = main
[alias]
	squash-all = "!f(){ git reset $(git commit-tree HEAD^{tree} -m \"${1:-A new start}\");};f"
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
[gpg]
	program = gpg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

