[user]
	name = Ryan
	email = thefakeryan@icloud.com
	signingkey = A86625A64721731855A55EF027C7EF71AE61C311
[pull]
	rebase = false

[core]
	excludesfile = /Users/ryan/.gitignore
	editor = code --wait
	ignorecase = false
[init]
	defaultBranch = main
[alias]
	squash-all = "!f(){ git reset $(git commit-tree HEAD^{tree} -m \"${1:-A new start}\");};f"
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
[gpg]
	program = gpg2
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
